<html>
  <link rel="stylesheet" href="popup.css">
  <body>
    <div class="header">
      <h1>GMeet Admitter</h1>
      <h4>Staus: <span id="status"></span></h4>
    </div>

    <div class="exclude-container">
      <table>
        <td>
          Exclude Users
        </td>
        <td>
          <input type="text" id="reject-list">
        </td>
      </table>
    </div>

    <div class="action-container">
      <button id="enable-btn">
        Enable
      </button>
      <button id="disable-btn">
        Disable
      </button>
    </div>

    <script src="popup.js"></script>
  </body>
</html>